<h1>{{ title }}</h1>
<ul *ngFor="let cartItem of cartItems">
    <p>Product: {{ cartItem.name }}</p>
    <p>Quantity:
        <br>
        <input type="number" name="quantity" required min="1" max="9" [(ngModel)]="cartItem.quantity"></p>
    <!-- <p>Price: {{ cartItem.price * cartItem.quantity }}$</p> -->
    <p>{{ cartItem.quantity }} X {{ cartItem.price }}$</p>
    <img class="images" src="{{ cartItem.url }}" width="120" height="180">
    <br>
    <app-remove-product [cartItem]="cartItem" (onItemRemoved)="updateCart($event)"></app-remove-product>
    <p>--------------------------</p>
</ul>